

@font-face {
  font-family: art-regular;
  src: url(./fonts/NEXT\ ART_Regular.otf);
}

@font-face {
  font-family: art-bold;
  src: url(./fonts/NEXT\ ART_Bold.otf);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.open {
  display: flex !important;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

h1, h2, h3, p {
  margin: 0;
}

body {
  margin: 0;
  font-family: art-regular;
}

.container {
  max-width: 1197px;
  margin: 0 auto;
  padding: 0 10px;
}

.start {
  background-image: url(./img/header-back.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.header__logo {
  margin-right: auto;
}

.header__box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 16px;
}

.menu {
  color: #fdfdfd;
  margin-right: 50px;
}

.menu__list {
  display: flex;
  gap: 30px;
}

.menu__list-items:hover {
  color: orange;
  cursor: pointer;
  transition-duration: 0.2s;
}

.menu__list-items {
  display:inline;
  font-size: 18px;
}

.burger {
  display: none;
  position: relative;
  z-index: 50;
  align-items: center;
  justify-content: flex-end;
  width: 30px;
  height: 18px;
}

.burger:hover {
  cursor: pointer;
}

.burger span {
  height: 2px;
  width: 80%;
  transform: scale(1);
  background-color: #fdfdfd;
}

.burger::before, .burger::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #fdfdfd;
  transition: all 0.3s ease 0s;
}

.burger::before { top: 0; }

.burger::after { bottom: 0; }

.burger.active span { transform: scale(0) }

.burger.active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}

.burger.active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%);
}

.header__consultation {
  padding: 0;
  width: 157px;
  height: 44px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #1a3e3e;
  border-radius: 5px;
  padding: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: .192px;
  color: #fdfdfd;
  background: #1a3e3e;
  transition: all .3s;
  cursor: pointer;
}

.header__consultation:hover {
  background-color: #fdfdfd;
  color: #1a3e3e;
}

.start__title {
  margin: 400px 0 40px;
  font-weight: 700;
  font-size: 50px;
  line-height: 150%;
  letter-spacing: 1px;
  color: #fdfdfd;
  font-family: art-bold;
}

.start__label {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.start__search {
  display: flex;
  border-radius: 10px;
  padding: 40px 42px;
  background: rgba(255, 255, 255, .2);
  backdrop-filter: blur(6px);
  gap: 24px;
}

.choices {
  position: relative;
  overflow: hidden;
  font-size: 16px;
  border: 1px solid #e1e3e4;
  border-radius: 8px;
  padding: 9px 16px;
  height: 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #fdfdfd;
  background-color: unset;
}

select {
  background-color: rgba(0, 0, 0, 0);
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  color: #fdfdfd;
  border: none;
  outline: none;
  padding: 8px 35px;
  font-size: 18px;
  cursor: pointer;
}

option {
  font-weight: normal;
  display: block;
  padding-block-start: 0px;
  padding-block-end: 1px;
  min-block-size: 1.2em;
  padding-inline: 2px;
  white-space: nowrap;
  color: #1a3e3e;
}

.start__span {
  color: #fdfdfd;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.start__block-date {
    display: flex;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(225, 227, 228);
    border-image: initial;
    border-radius: 8px;
}

.start__date {
  height: 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: rgb(253, 253, 253);
  background-color: rgba(0, 0, 0, 0);
  flex: 1 1 0%;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  padding: 0px 8px;
  cursor: pointer;
}

.start__search-programm {
    height: 52px;
    width: 300px;
    color: #1a3e3e;
    background: #fdfdfd;
    border-radius: 8px;
    font-family: art-bold;
}

.start__search-programm:hover {
  color: #fdfdfd;
  background: #1a3e3e;
  border: 1px solid #fdfdfd;
}

.about__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 0 0 0;
  gap: 15px;
}

.about__content {
  max-width: 580px;
}

.subtitle {
  font-size: 24px;
  font-weight: 400;
  line-height: 20px;
  color: #F2BE22;
}

.title {
  font-weight: 800;
  font-size: 32px;
  line-height: 120%;
  padding: 10px 0 40px 0;
}

.about__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  margin: 0 0 40px;
  color: #18121e;
}

.about__img {
  Width: 350px;
  Height: 400px;
  border-radius: 24px;
}

.about__video-btn {
  Width: 350px;
  Height: 400px;
  border: none;
}

.about__media {
  position: relative;
}

.about__video {
  position: relative;
  left: 130px;
  bottom: 250px;
}

.about__pic {
  position: relative;
}

.about__btn:hover {
  color: #1a3e3e;
  background: #fdfdfd;
  border: 1px solid #1a3e3e;
}

.about__btn {
  width: 200px;
  height: 52px;
  border-radius: 4px;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(253, 253, 253, 0.6);
  padding: 15px 20px;
  border-radius: 50%;
  font-size: 24px;
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.offer__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 0;
  gap: 15px;
}

.offer {
  background: #F3F5F4;
}

.offer__text {
  margin: 0 0 40px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #18121e;
}

.offer__price {
  width: 236px;
  height: 52px;
}

.offer__price:hover {
  color: #1a3e3e;
  background: #fdfdfd;
  border: 1px solid #1a3e3e;
}

.offer__content {
  max-width: 580px;
  flex: 1;
}

.offer__media {
  max-width: 510px;
  flex: 1;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

.offer__item {
  position: relative;
  margin: 50px 0;
}

.offer__item > h3  {
  position: absolute;
  top: 0px;
  left: 60px;
  font-weight: 700;
  Size: 18px;
  Line-height: 20px;
  Letter-spacing: 1.2%;
}

.offer__item > p {
  position: absolute;
  top: 20px;
  left: 60px;
  font-weight: 400;
  Size: 14px;
  Line-height: 20px;
  Letter-spacing: 0%;
}

.popular {
  padding: 100px 0;
}

.popular__content {
  text-align: center;
}

.popular__item {
  position: relative;
  flex: 1;
  overflow: hidden;
  border-radius: 32px;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  display: block;
}

.swiper-android .swiper-slide, .swiper-wrapper {
    transform: translate3d(0px, 0, 0);
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}

.popular__media {
  display: flex;
  margin-bottom: 50px;
  gap: 20px;
}

.popular__item {
  position: relative;
  flex: 1;
  overflow: hidden;
  border-radius: 32px;
}

.popular__img {
Width: 385px;
Height: 500px;
border-radius: 32px;
}

.popular__stars {
  position: absolute;
  display: flex;
  background: rgba(253, 253, 253, .4);
  top: 50px;
  color: #1a3e3e;
  right: 0;
  width: 65px;
  height: 32px;
  align-items: center;
  justify-content: center;
  border-radius: 4px 0 0 4px;
  padding: 4px 8px;
  gap: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  backdrop-filter: blur(4px);
}

.overlay {
  position: absolute;
  left: 0;
  top: 80%;
  display: flex;
  flex-direction: column;
  border-radius: 32px;
  padding: 30px 20px 20px;
  height: 100%;
  box-sizing: border-box;
  background: rgba(255, 255, 255, .2);
  transition: all 2s ease-in-out;
  backdrop-filter: blur(6px);
}

.overlay__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 38px;
}

.overlay__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #fdfdfd;
}

.overlay__name {
  display: block;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  color: #fdfdfd;
}

.overlay__price {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  width: 86px;
  height: 40px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #fdfdfd;
  background: rgba(255, 255, 255, .3);
}

.overlay__descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #fdfdfd;
}

.overlay__btn {
  margin-top: auto;
  width: 176px;
  height: 44px;
}

.overlay:hover {
  top: 1px;
}

.overlay__btn:hover {
  color: #1a3e3e;
  background: #fdfdfd;
  border: 1px solid #1a3e3e;
}

.popular__btn {
  width: 244px;
  height: 52px;
  margin: 0 auto;
}

.popular__btn:hover {
  color: #1a3e3e;
  background: #fdfdfd;
  border: 1px solid #1a3e3e;
}

.blog {
  background: #F3F5F4;
  padding: 100px 0;
}

.blog__subtitle {
  margin: 0 0 10px 0;
}

.blog__title {
  margin: 0 0 40px 0;
}

.blog__content {
  text-align: center;
}

.news {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.blog__media {
  margin-bottom: 50px;
}

.blog__btn {
  width: 220px;
  height: 52px;
  margin: 0 auto;
}

.blog__btn:hover {
  color: #1a3e3e;
  background: #fdfdfd;
  border: 1px solid #1a3e3e;
}

.news__item {
  display: flex;
  flex: 1 1 380px;
  border-radius: 10px;
  padding: 16px;
  height: auto;
  box-shadow: 0 0 15px 0 rgba(24, 18, 30, .12);
  background: #fdfdfd;
}

.news__item-pic {
  flex: 1 1 252px;
}

.news__content {
  display: flex;
  flex: 1 1 294px;
  flex-direction: column;
  margin-left: 24px;
}

.news__title {
  margin: 0;
  padding: 16px 0 24px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  text-decoration: underline 1px solid rgba(0, 0, 0, 0);
  color: #18121e;
  transition: all .1s;
  cursor: pointer;
  text-underline-offset: 3px;
}

.news__descr {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #18121e;
}

.news__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto 0 16px;
}

.news__time {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #f2be22;
}

.news__link {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-decoration: underline 1px solid rgba(0, 0, 0, 0);
  color: #1a3e3e;
  transition: all .1s;
}

.news__title-link:hover {
  text-decoration: underline;
}

.news__link:hover {
  text-decoration: underline;
}

.gallery {
  padding: 100px 0;
}

.gallery__content {
  text-align: center;
}

.gallery__subtitle {
  margin: 0 0 10px 0;
}

.gallery__title {
  margin: 0 0 40px 0;
}

.gallery__media {
  display: grid;
  grid-auto-rows: 3fr;
  grid-template-columns: repeat(12, 1fr);
  margin-bottom: 50px;
  gap: 20px;
}

.gallery__btn {
  margin: 0 auto;
  width: 178px;
  height: 52px;
}

.gallery__btn:hover {
  color: #1a3e3e;
  background: #fdfdfd;
  border: 1px solid #1a3e3e;
}

.gallery__pic {
  position: relative;
}

.gallery__img {
  height: 100%;
}

.gallery__img:hover {
  cursor: pointer;
  filter: brightness(70%);
}

.gallery__pic:nth-of-type(1n) {
  grid-column: 6 span;
  grid-column-start: span 6;
  grid-column-end: auto;
}

.gallery__pic:nth-of-type(2n) {
  grid-column: 3 span;
}

.gallery__pic:nth-of-type(3n) {
  grid-column: 3 span;
}

.gallery__pic:nth-of-type(4n) {
  grid-column: 3 span;
}

.gallery__pic:nth-of-type(5n) {
  grid-column: 6 span;
}

.gallery__pic:nth-of-type(6n) {
  grid-column: 3 span;
}

.newsletter__wrapper {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  margin-bottom: -96px;
  border-radius: 6px;
  padding: 40px 100px;
  box-shadow: 0 0 15px 0 rgba(24, 18, 30, .12);
  background: #fdfdfd;
  gap: 15px;
}

.newsletter__content {
  flex: 0 1 380px;
}

.newsletter__subtitle {
  font-size: 18px;
}

.newsletter__title {
  margin: 0;
  font-size: 26px;
}

.newsletter__subscribe {
  flex: 0 1 536px;
}

.newsletter__text {
  margin: 0 0 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #18121e;
}

.newsletter__form {
  display: flex;
  margin-bottom: 8px;
  gap: 16px;
}

.newsletter__input {
  border: none;
  border-radius: 4px;
  padding: 12px 16px;
  width: 280px;
  height: 44px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #18121e;
  background: #f3f5f4;
}

.newsletter__button {
  border-radius: 4px;
  width: 240px;
  height: 44px;
  font-family: art-regular;
}

.newsletter__button:hover {
  color: #1a3e3e;
  background: #fdfdfd;
  border: 1px solid #1a3e3e;
}

.newsletter__terms {
  margin: 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #18121e;
}

.newsletter__terms-link {
  text-decoration: underline 1px solid #18121e;
}

.footer {
  background-color: #1a3e3e;
}

.footer__top {
  padding: 180px 0 80px;
}

.footer__top-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.footer__items {
  flex: 1;
  max-width: 280px;
}

.footer__items:first-of-type {
  max-width: 480px;
}

.footer__title {
  margin: 0 0 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #f3f5f4;
}

.footer__text {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
}

.footer__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__list-item {
  display: flex;
  align-items: baseline;
  padding: 10px 0;
}

.footer__link:hover {
  color: #F2BE22;
}

.footer__arrow {
  margin-right: 10px;
  width: 6px;
  height: 10px;
  fill: #fff;
  transition: all .1s;
}

.footer__link {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-decoration: underline 1px solid rgba(0, 0, 0, 0);
  color: #fdfdfd;
  transition: all .1s;
}

.footer__link-new::after {
  content: "new";
  margin-left: 8px;
  border-radius: 4px;
  padding: 2px 10px;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-decoration: underline 1px solid #fff;
  color: #1a3e3e;
  background: #fff;
}

@media (max-width: 1120px) {
  .start__search {
    flex-wrap: wrap;
  }
.header__nav {
  position: fixed;
  inset: 0;
  z-index: 5;
  padding: 45px 16px 50px;
  width: 100%;
  background-color: #1a3e3e;
  transform: translateX(-150%);
  transition: all .5s;
}
}

@media (max-width: 600px) {
  .about__pic {
    display: none;
  }

  .about__video {
    position: relative;
    left: 0;
    bottom: 20px;
}

.offer__wrapper {
  padding: 50px 0;
}

  .start__title {
    font-size: 30px;
    margin-bottom: 32px;
    letter-spacing: unset;
    }

    .start__search {
      padding: unset;
      background: unset;
      backdrop-filter: unset;
     }

     .start__label {
      display: none;
     }

      .start__info {
        padding: 234px 0 50px;
        }

      .about__wrapper {
        flex-direction: column-reverse;
        padding: 50px 0;
      }

      .about__pi—Å {
        display: none;
        }

        .subtitle {
          font-size: 16px;
      }

      .title {
        margin-bottom: 32px;
        font-size: 24px;
    }

    .offer__text {
      margin-bottom: 32px;
      font-size: 16px;
  }

  .offer__items {
    margin-bottom: 32px;
    gap: 32px;
}

.offer__media {
  display: none;
}


  }



@media (max-width: 990px) { 
  .burger { display: flex; }

  .header__consultation { display: none; }

  .menu {
    display: none;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: 50;
    overflow-y: auto;
    padding: 50px 40px;
    background-color: #1a3e3e;
    animation: burgerAnimation 0.4s;
  }

  .menu .menu__list {
    flex-direction: column;
    row-gap: 30px;
  }

  .start__info {
    padding: 300px 0 62px;
}

.start__search {
  flex-wrap: wrap;
}

.start__label {
  flex: 1 1 48%;
}

.about__wrapper {
  flex-direction: column-reverse;
  padding: 75px 0;
  gap: 40px;
}

.offer__wrapper {
  padding: 75px 0;
}

.offer__content {
  flex: 3;
}

.offer__media {
  justify-content: center;
  grid-template-columns: 150px;
}

.popular {
  padding: 75px 0;
}

.blog {
  padding: 75px 0;
}

.news__item {
  flex: 1 1 100%;
}

.gallery {
  padding: 75px 0;
}



.newsletter__wrapper {
  flex-direction: column;
}

.newsletter__content {
  flex: 1 1 auto;
  text-align: center;
}

.newsletter__subscribe {
  flex: 1 1 auto;
}

.newsletter__label {
  flex: 1;
}

.newsletter__button {
  flex: 1;
}

.newsletter__input {
  width: 100%;
}

.footer__top-wrapper {
  flex-wrap: wrap;
  gap: 50px;
}

.footer__items {
  flex: 1 1 280px;
}

}

@keyframes burgerAnimation {
  from  { opacity: 0 }
  to { opacity: 1 }
}